<?php

/**
 * @todo
 * 
 * This FOR SURE needs to be refactored to load the question content via AJAX. cache_lifetime is
 * not set on the block, so block cache is not affecting it, but FPC is caching
 * the block content and making the Random Question button repeat a pattern.
 */

$data = $this->getData();

?>
<h1>Exam</h1>
<form id="exam-frontend" action="/siliconrockstar_exam/index/validate" data-qid="<?php
echo $data['question']['question_id'];
?>">
    <h2><?php echo htmlspecialchars($data['question']['question_text']); ?></h2>
    <ul>
        <?php
        // create list of answers
        foreach ($data['question']['answers'] as $answer) {
            echo '<li class="answer"><a class="answer" data-id="' . $answer['answer_id'] . '">' . htmlspecialchars($answer['answer_text']) . '</a></li>';
        }
        ?>
    </ul>
    <input type="submit" />
</form>
<h3 class="result"></h3>
<?php if (!empty($data['nextQuestionId'])) { ?>
    <a href="/siliconrockstar_exam/index/index?qid=<?php echo $data['nextQuestionId'] ?>">
        Next Question
    </a>
&nbsp;--&nbsp;
<?php } ?>
    <a href="/siliconrockstar_exam/index/index?qid=<?php echo $data['randomQuestionId'] ?>">
        Random Question
    </a>
<?php /** @todo this needs to be moved out of template file to UI component */ ?>
<script type='text/javascript'>
    /* attach a submit handler to the form */
    require(['jquery', 'domReady!'], function ($) {

        // when li.answer is clicked, set selected = true
        $("li.answer a").toggle(
                function () {
                    $(this).addClass("selected");
                }, function () {
            $(this).removeClass("selected");
        }
        );

        jQuery("#exam-frontend").submit(function (event) {

            /* stop form from submitting normally */
            event.preventDefault();

            $('h3.result').text('Checking...');

            /* get json of selected answers */
            var selectedAnswers = [];
            $('li.answer a.answer.selected').each(function () {
                selectedAnswers.push($(this).attr('data-id'));
            });

            console.log(selectedAnswers);

            /* get the action attribute from the <form action=""> element */
            var $form = $(this),
                    url = $form.attr('action'),
                    qid = $form.attr('data-qid');

            console.log(qid);

            var posting = $.post(url, {qid: qid,
                selectedAnswers: selectedAnswers});

            /*
             * expects json like
             * 
             * correct: 1, correctAnswerIds: [ array ]
             */
            posting.done(function (data) {
                /** @todo remove */
                console.log(data);
                $('h3.result').text(data.message);

                if (data.correctAnswerIds) {
                    // add 'incorrect' class to all answers
                    $('form#exam-frontend a.answer').addClass('incorrect');

                    // remove 'incorrect' and add 'correct' class to correct answers
                    var length = data.correctAnswerIds.length;
                    for (var i = 0; i < length; i++) {
                        console.log('i = ' + i + 'answerid = ' + data.correctAnswerIds[i]);
                        $('form#exam-frontend a.answer[data-id=\'' + data.correctAnswerIds[i] + '\']').removeClass('incorrect').addClass('correct')
                    }
                }

            });
        });
    });
</script>
<?php /** @todo move this to external scss */ ?>
<style type="text/css">
    form#exam-frontend ul {
        width: 50%;
        list-style-type: none;
    }
    form#exam-frontend a.answer {
        display:block;
        padding:6px;
        border:1px solid #333;
        color:#000;
        font-size:16px;
    }
    form#exam-frontend a.answer:hover {
        border-color:#0cc;
        text-decoration:none;
        background-color:#dff;
    }
    form#exam-frontend a.answer.selected {
        background-color:#9ff;
    }
    /* post submit states */
    form#exam-frontend a.answer.correct {
        background-color:#00cc33;
        border-color:#000;
    }
    form#exam-frontend a.answer.selected.incorrect {
        background-color:#ff6666;
        border-color:#000;
    }
</style>